[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.88.0"
sqlalchemy = "==1.4.44"
uvicorn = "==0.20.0"
python-dotenv = "*"
asyncpg = "*"
aioredis = "*"
cachetools = "*"
isort = "*"
black = "*"
flake8 = "==4.0.1"
pyproject-flake8 = "*"
pyjwt = "*"
pytest = "*"
passlib = { extras = ["bcrypt"], version = "*" }
pytest-asyncio = "*"
email-validator = "*"
httpx = "*"
python-multipart = "*"
pydantic = "*"
alembic = "*"
google-cloud-storage = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.10"
